.logo {
  text-align: center;
}

.button-login {
  background: #f4c679 !important;
  color: white !important;
}
.svg-inline--fa.fa-w-14 {
  width: 1.875em !important;
}
.back #arrow {
  width: 1.875em !important;
}

#arrow {
  width: 1.875em !important;
  color: #f4c679 !important;
}
.welcome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #f4c679;
}
.raya {
  height: 3px;
  width: 100%;
}
.botones-abajo {
  display: flex;
  justify-content: space-between;
}
.box {
  padding: 1rem;
  background: #f4c679;
  color: white;
}
.check {
  color: #77d354 !important;
  text-align: center;
}

.plus {
  width: 100%;
  text-align: right;
  color: #f4c679;
  margin-right: 6rem;
  margin-top: 3rem;
}
a {
  color: white !important;
}
.content-login {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-horizontal:hover,
.hvr-wobble-horizontal:focus,
.hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
